body{
	font-family: arial, sans-serif;
	margin: 0;
}
*{
	box-sizing:border-box;
}
clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
}
header{
	background: #123d34;
	width: 100%;
	height: 70px;
}
.nav{
	position: relative;
}
.main-nav a{
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	padding: 30px 20px;
	border-bottom: 1px solid transparent;
	text-transform: uppercase;
}
.main-nav{
	position: absolute;
	right: 100px;
	top: 20px;
}
.logo a{
	float: left;
	padding-top: 15px;
}
.home:hover{
	border-bottom: 2px solid #0feb9e;
}
.main{
	background: url(../images/pic1.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin-top: -3px;
}
.section{
	text-align: center;
	padding: 100px 0px;
}
.section h1{
	font-size: 62px;
	color: #fff;
}
.section p{
	font-size: 48px;
	color: #fff;
	font-weight: normal;
	margin-top: -30px;
}
.descr{
	font-size: 18px;
	color: #fff;
	margin-top: -30px;
}
.descr::before,
.descr::after{
	content: "";
	display: inline-block;
	width: 35px;
	height: 1px;
	background: #0feb9e;
	vertical-align: middle;
	margin: 0 10px;
}
.features{
	background: #f4f7f9;
	margin-top: -22px;
}
.block{
	position: relative;
}
.block h2{
	text-transform: uppercase;
	font-size: 28px;
	color: #0eb493;
	text-align: center;
	padding-top: 70px;
}
.block span{
	color: #ccc;
	position: absolute;
	top: 100px;
	left: 450px;
}
.block span::before,
.block span::after{
	content: "";
	display: inline-block;
	width: 100px;
	height: 1px;
	background: #e6e8ea;
	vertical-align: middle;
	margin: 0 10px;
}
.products{
	display: flex;
	justify-content: space-around;
	padding: 40px 150px;
	text-align: left;
}
.feature{
	padding: 0 30px 150px 30px;
}
.feature a{
	font-size: 20px;
	color: #062033;
	text-decoration: none;
	font-weight: bold;
	padding-left: 30px;
}
.feature h4{
	padding: 0 -65px;
	margin: 5px -40px;
}
.feature p{
	font-size: 13px;
	color: #717982;
	line-height: 21px;
	text-align: left;
}
.feature1 span{
	background: url(../images/ic-leaf.png) 50% 50% no-repeat;
	width: 40px;
	height: 40px;
	border: 1px solid #0eb493;
	border-radius: 50%; 
	float: left;
}
.feature2 span{
	background: url(../images/ic-pencil.png) 50% 50% no-repeat;
	width: 40px;
	height: 40px;
	border: 1px solid #0eb493;
	border-radius: 50%; 
	float: left;
}
.feature3 span{
	background: url(../images/ic-speack.png) 50% 50% no-repeat;
	width: 40px;
	height: 40px;
	border: 1px solid #0eb493;
	border-radius: 50%; 
	float: left; 
}
.text{
	text-align: center;
}
.text h2{
	font-size: 28px;
	color:#0eb493;
	text-transform: uppercase;
	padding-top: 40px;
}
.text span{
	color: #ccc;
}
.text span::before,
.text span::after{
	content: "";
	display: inline-block;
	width: 100px;
	height: 1px;
	background: #e6e8ea;
	vertical-align: middle;
	margin: 0 10px;
}
.text p{
	font-size: 18px;
	color:#5b646e;
	padding: 10px 100px 50px 100px;
}
.items{
	display: flex;
	justify-content:space-around;
}
.item{
	text-align: center;
	background: #f4f7f9;
}
.item h4{
	font-size: 18px;
	color: #0c9a7e;
	text-transform: uppercase;
}
.item p{
	font-size: 16px;
	font-style: italic;
	color: #062033;
	padding-bottom: 15%;
}
.item a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}
.btn{
	background-color: #0eb493;
	padding: 10px 20px;
	margin: 0 27%;
	margin-bottom: 50px;
}
.facts{
	background: url(../images/pic2.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 600px;
}
.info{
	text-align: center;
}
.info h1{
	font-size: 28px;
	color: #0eb493;
	text-transform: uppercase;
	padding-top: 80px;
}
.info span{
	color: #ccc;
	padding: 40px;
}
.info span::before,
.info span::after{
	content: "";
	display: inline-block;
	width: 100px;
	height: 1px;
	background: #e6e8ea;
	vertical-align: middle;
	margin: 0 10px;
}
.stats{
	display: flex;
	justify-content:space-around; 
}
.statistics{
	text-align: center;
	padding: 0px;
	margin: 50px;
}
.statistics a{
	text-decoration: none;
	padding-top: 150px;
}
.statistics h3{
	font-size: 60px;
	color: #fff;
	font-weight: normal;
	padding-bottom: 0;
	padding-top: 20px;
}
.statistics p{
	margin-top: -60px;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	font-weight: normal;
}
.data1 span{
	background: url(../images/ic-clock.png) 50% 50% no-repeat;
	width: 130px;
	height: 130px;
	border: 1px solid #717983;
	border-radius: 50%; 
	padding: 50px 60px;
}
.data2 span{
	background: url(../images/ic-users.png) 50% 50% no-repeat;
	width: 130px;
	height: 130px;
	border: 1px solid #717983;
	border-radius: 50%; 
	padding: 50px 60px;
}
.data3 span{
	background: url(../images/ic-rocket.png) 50% 50% no-repeat;
	width: 130px;
	height: 130px;
	border: 1px solid #717983;
	border-radius: 50%; 
	padding: 50px 60px;
}
.data4 span{
	background: url(../images/ic-cup.png) 50% 50% no-repeat;
	width: 130px;
	height: 130px;
	border: 1px solid #717983;
	border-radius: 50%; 
	padding: 50px 60px;
}
footer{
	background: #37bda1;
	text-align: right;
	height: 70px;
}
.copyright{
	position: relative;
}
.copyright a{
	float: left;
	padding-top: 20px;
}
.copyright img{
	bottom: -100px;
}
.copyright span{
	position: absolute;
	bottom: -100px;
	right: 100px;
	font-size: 13px;
	color: #fff;
	padding: 50px 0;
}


